<h1>Editing marketplace</h1>

<%= render "form", marketplace: @marketplace %>

<br>

<div>
  <%= link_to "Show this marketplace", @marketplace %> |
  <%= link_to "Back to marketplaces", marketplaces_path %>
</div>
